<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.test.comm.mapper.ComDingMapper">

	<sql id="comDingColumns">
		a.id AS "id",
		a.source_type AS "sourceType",
		a.source AS "source",
		a.ding_type AS "dingType",
		a.ding_id AS "dingId",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag"
	</sql>

	<sql id="comDingJoins">

	</sql>


	<select id="get" resultType="ComDing" >
		SELECT
			<include refid="comDingColumns"/>
		FROM test_com_ding a
		<include refid="comDingJoins"/>
		WHERE a.id = #{id}
	</select>

	<select id="getBySource" resultType="ComDing" >
		SELECT
		<include refid="comDingColumns"/>
		FROM test_com_ding a
		<include refid="comDingJoins"/>
		WHERE a.source_type = #{sourceType} and a.source = #{source}
	</select>

	<select id="findList" resultType="ComDing" >
		SELECT
			<include refid="comDingColumns"/>
		FROM test_com_ding a
		<include refid="comDingJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>

	<select id="findAllList" resultType="ComDing" >
		SELECT
			<include refid="comDingColumns"/>
		FROM test_com_ding a
		<include refid="comDingJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>

	<insert id="insert">
		INSERT INTO test_com_ding(
			id,
			source_type,
			source,
			ding_type,
			ding_id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag
		) VALUES (
			#{id},
			#{sourceType},
			#{source},
			#{dingType},
			#{dingId},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag}
		)
	</insert>

	<update id="update">
		UPDATE test_com_ding SET
			source_type = #{sourceType},
			source = #{source},
			ding_type = #{dingType},
			ding_id = #{dingId},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>


	<!--物理删除-->
	<update id="delete">
		DELETE FROM test_com_ding
		WHERE id = #{id}
	</update>

	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE test_com_ding SET
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>


	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="ComDing">
		select * FROM test_com_ding  where ${propertyName} = #{value}
	</select>

</mapper>