<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.test.activiti.mapper.TestActivitiExpenseMapper">

	<sql id="testActivitiExpenseColumns">
		a.id AS "id",
		a.name AS "user.id",
		a.proc_ins_id AS "procInsId",
		a.cost AS "cost",
		a.office_id AS "office.id",
		a.reason AS "reason",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",

		user.name AS "user.name",



		office.name AS "office.name"
	</sql>

	<sql id="testActivitiExpenseJoins">

		LEFT JOIN sys_user user ON user.id = a.name
		LEFT JOIN sys_office office ON office.id = a.office_id
	</sql>


	<select id="get" resultType="TestActivitiExpense" >
		SELECT
			<include refid="testActivitiExpenseColumns"/>
		FROM test_activiti_expense a
		<include refid="testActivitiExpenseJoins"/>
		WHERE a.id = #{id}
	</select>

	<select id="findList" resultType="TestActivitiExpense" >
		SELECT
			<include refid="testActivitiExpenseColumns"/>
		FROM test_activiti_expense a
		<include refid="testActivitiExpenseJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="user != null and user.id != null and user.id != ''">
				AND a.name LIKE
				    <if test="_databaseId == 'postgre'">'%'||#{user.id}||'%'</if>
					<if test="_databaseId == 'oracle'">'%'||#{user.id}||'%'</if>
					<if test="_databaseId == 'mssql'">'%'+#{user.id}+'%'</if>
					<if test="_databaseId == 'mysql'">concat('%',#{user.id},'%')</if>
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>

	<select id="findAllList" resultType="TestActivitiExpense" >
		SELECT
			<include refid="testActivitiExpenseColumns"/>
		FROM test_activiti_expense a
		<include refid="testActivitiExpenseJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>

	<insert id="insert">
		INSERT INTO test_activiti_expense(
			id,
			name,
			proc_ins_id,
			cost,
			office_id,
			reason,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag
		) VALUES (
			#{id},
			#{user.id},
			#{procInsId},
			#{cost},
			#{office.id},
			#{reason},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag}
		)
	</insert>

	<update id="update">
		UPDATE test_activiti_expense SET
			name = #{user.id},
			proc_ins_id = #{procInsId},
			cost = #{cost},
			office_id = #{office.id},
			reason = #{reason},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>


	<!--物理删除-->
	<update id="delete">
		DELETE FROM test_activiti_expense
		WHERE id = #{id}
	</update>

	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE test_activiti_expense SET
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>


	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="TestActivitiExpense">
		select * FROM test_activiti_expense  where ${propertyName} = #{value}
	</select>

</mapper>