<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.extension.mapper.FlowConditionMapper">

	<sql id="flowConditionColumns">
		a.id AS "id",
		a.name AS "field",
		a.comparison_type AS "compare",
		a.value AS "value",
		a.operationtype AS "logic",
		a.sort AS "sort",
		a.task_def_id AS "taskDef.id"
	</sql>

	<sql id="flowConditionJoins">

			LEFT JOIN act_extension_taskdef b ON b.id = a.task_def_id
	</sql>


	<select id="get" resultType="FlowCondition" >
		SELECT
			<include refid="flowConditionColumns"/>
		FROM act_extension_conditions a
		<include refid="flowConditionJoins"/>
		WHERE a.id = #{id}
	</select>

	<select id="findList" resultType="FlowCondition" >
		SELECT
			<include refid="flowConditionColumns"/>
		FROM act_extension_conditions a
		<include refid="flowConditionJoins"/>
		<where>

			${dataScope}
			<if test="taskDef != null and taskDef.id != null and taskDef.id != ''">
				AND a.task_def_id = #{taskDef.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>

	<select id="findAllList" resultType="FlowCondition" >
		SELECT
			<include refid="flowConditionColumns"/>
		FROM act_extension_conditions a
		<include refid="flowConditionJoins"/>
		<where>

			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>

	<insert id="insert">
		INSERT INTO act_extension_conditions(
			id,
			name,
			comparison_type,
			value,
			operationtype,
			sort,
			task_def_id
		) VALUES (
			#{id},
			#{field},
			#{compare},
			#{value},
			#{logic},
			#{sort},
			#{taskDef.id}
		)
	</insert>

	<update id="update">
		UPDATE act_extension_conditions SET
			name = #{field},
			comparison_type = #{compare},
			value = #{value},
			operationtype = #{logic},
			sort = #{sort},
			task_def_id = #{taskDef.id}
		WHERE id = #{id}
	</update>


	<!--物理删除-->
	<update id="delete">
		DELETE FROM act_extension_conditions
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE task_def_id = #{taskDef.id}
			</otherwise>
		</choose>
	</update>

	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE act_extension_conditions SET
			del_flag = #{DEL_FLAG_DELETE}
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE task_def_id = #{taskDef.id}
			</otherwise>
		</choose>
	</update>


	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="FlowCondition">
		select * FROM act_extension_conditions  where ${propertyName} = #{value}
	</select>

</mapper>
