<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.test.moments.mapper.ShareMapper">

	<sql id="shareColumns">
		a.id AS "id",
		a.content AS "content",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.invis AS "invis",
		a.vis AS "vis",
-- 		a.update_by AS "updateBy.id",
-- 		a.update_date AS "updateDate",
-- 		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		b.name as "createBy.name",
		b.photo as "createBy.photo"
	</sql>

	<sql id="shareJoins">
			LEFT JOIN sys_user b ON b.id = a.create_by
	</sql>


	<select id="get" resultType="Share" >
		SELECT
			<include refid="shareColumns"/>
		FROM test_share a
		<include refid="shareJoins"/>
		WHERE a.id = #{id}
	</select>

	<select id="findList" resultType="Share" >
		SELECT
			<include refid="shareColumns"/>
		FROM test_share a
		<include refid="shareJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date DESC
			</otherwise>
		</choose>
	</select>

	<select id="findAllList" resultType="Share" >
		SELECT
			<include refid="shareColumns"/>
		FROM test_share a
		<include refid="shareJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>

	<insert id="insert">
		INSERT INTO test_share(
			id,
			content,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			invis,
			vis
		) VALUES (
			#{id},
			#{content},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{invis},
			#{vis}
		)
	</insert>

	<update id="update">
		UPDATE test_share SET
			content = #{content},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			invis = #{invis},
			vis = #{vis}
		WHERE id = #{id}
	</update>


	<!--物理删除-->
	<update id="delete">
		DELETE FROM test_share
		WHERE id = #{id}
	</update>

	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE test_share SET
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>


	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Share">
		select * FROM test_share  where ${propertyName} = #{value}
	</select>

</mapper>