<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.test.av.mapper.AudioVideoMapper">

	<sql id="audioVideoColumns">
		a.id AS "id",
		a.av_content AS "avContent",
		a.av_name AS "avName",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag"
	</sql>

	<sql id="audioVideoJoins">

	</sql>


	<select id="get" resultType="AudioVideo" >
		SELECT
			<include refid="audioVideoColumns"/>
		FROM audio_video a
		<include refid="audioVideoJoins"/>
		WHERE a.id = #{id}
	</select>

	<select id="findList" resultType="AudioVideo" >
		SELECT
			<include refid="audioVideoColumns"/>
		FROM audio_video a
		<include refid="audioVideoJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="avName != null and avName != ''">
				AND a.av_name LIKE
				    <if test="_databaseId == 'postgre'">'%'||#{avName}||'%'</if>
					<if test="_databaseId == 'oracle'">'%'||#{avName}||'%'</if>
					<if test="_databaseId == 'mssql'">'%'+#{avName}+'%'</if>
					<if test="_databaseId == 'mysql'">concat('%',#{avName},'%')</if>
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>

	<select id="findAllList" resultType="AudioVideo" >
		SELECT
			<include refid="audioVideoColumns"/>
		FROM audio_video a
		<include refid="audioVideoJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>

	<insert id="insert">
		INSERT INTO audio_video(
			id,
			av_content,
			av_name,
			create_by,
			create_date,
			remarks,
			del_flag
		) VALUES (
			#{id},
			#{avContent},
			#{avName},
			#{createBy.id},
			#{createDate},
			#{remarks},
			#{delFlag}
		)
	</insert>

	<update id="update">
		UPDATE audio_video SET
			av_content = #{avContent},
			av_name = #{avName},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>


	<!--物理删除-->
	<update id="delete">
		DELETE FROM audio_video
		WHERE id = #{id}
	</update>

	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE audio_video SET
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>


	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="AudioVideo">
		select * FROM audio_video  where ${propertyName} = #{value}
	</select>

</mapper>