<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.echarts.mapper.EchartsMapper">

    <sql id="echartsColumns">
        a.id AS "id",
        a.name AS "name",
        a.model_id AS "dataSet.id",
        a.option_content AS "option",
        a.create_by AS "createBy.id",
        a.create_date AS "createDate",
        a.update_by AS "updateBy.id",
        a.update_date AS "updateDate",
        a.remarks AS "remarks",
        a.del_flag AS "delFlag",
        a.t_type AS "type",
        a.xnames AS "xNames",
        a.ynames AS "yNames",
        dataSet.name AS "dataSet.name"
    </sql>

    <sql id="echartsJoins">

        LEFT JOIN plugin_datasource_model dataSet ON dataSet.id = a.model_id
    </sql>


    <resultMap type="Echarts" id="EchartsMap" autoMapping="true">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="dataSet.id" column="dataSet.id"/>
        <result property="remarks" column="remarks"/>
        <result property="type" column="type"/>
        <result property="xNames" column="xNames"/>
        <result property="yNames" column="yNames"/>
        <result property="dataSet.name" column="dataSet.name"/>
        <result property="option" column="option"
                typeHandler="com.jeeplus.core.mapper.ConvertBlobTypeHandler"/>
    </resultMap>

    <select id="get" resultMap="EchartsMap">
        SELECT
        <include refid="echartsColumns"/>
        FROM plugin_echarts a
        <include refid="echartsJoins"/>
        WHERE a.id = #{id}
    </select>

    <select id="findList" resultMap="EchartsMap">
        SELECT
        <include refid="echartsColumns"/>
        FROM plugin_echarts a
        <include refid="echartsJoins"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            ${dataScope}
            <if test="name != null and name != ''">
                AND a.name = #{name}
            </if>
            <if test="dataSet != null and dataSet.id != null and dataSet.id != ''">
                AND a.model_id = #{dataSet.id}
            </if>
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.update_date DESC
            </otherwise>
        </choose>
    </select>

    <select id="findAllList" resultMap="EchartsMap">
        SELECT
        <include refid="echartsColumns"/>
        FROM plugin_echarts a
        <include refid="echartsJoins"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            ${dataScope}
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.update_date DESC
            </otherwise>
        </choose>
    </select>

    <insert id="insert">
        INSERT INTO plugin_echarts(
        id,
        name,
        model_id,
        option_content,
        create_by,
        create_date,
        update_by,
        update_date,
        remarks,
        del_flag,
        xnames,
        ynames,
        t_type
        ) VALUES (
        #{id},
        #{name},
        #{dataSet.id},
        #{option , jdbcType=BLOB},
        #{createBy.id},
        #{createDate},
        #{updateBy.id},
        #{updateDate},
        #{remarks},
        #{delFlag},
        #{xNames},
        #{yNames},
        #{type}
        )
    </insert>

    <update id="update">
        UPDATE plugin_echarts SET
        name = #{name},
        model_id = #{dataSet.id},
        option_content = #{option, jdbcType=BLOB},
        update_by = #{updateBy.id},
        update_date = #{updateDate},
        remarks = #{remarks},
        xnames = #{xNames},
        ynames = #{yNames},
        t_type = #{type}
        WHERE id = #{id}
    </update>


    <!--物理删除-->
    <update id="delete">
        DELETE FROM plugin_echarts
        WHERE id = #{id}
    </update>

    <!--逻辑删除-->
    <update id="deleteByLogic">
        UPDATE plugin_echarts SET
        del_flag = #{DEL_FLAG_DELETE}
        WHERE id = #{id}
    </update>


    <!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
    <select id="findUniqueByProperty" resultMap="EchartsMap">
        select * FROM plugin_echarts where ${propertyName} = #{value}
    </select>

</mapper>
