<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.committee.mapper.CommitteeDetailMapper">

	<sql id="committeeDetailColumns">
		a.id AS "id",
		a.photo AS "photo",
		a.sector AS "sector",
		a.org AS "org",
		a.name AS "name",
		a.standing_id AS "standing.id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag"
	</sql>

	<sql id="committeeDetailJoins">

			LEFT JOIN standing_committee b ON b.id = a.standing_id
	</sql>


	<select id="get" resultType="CommitteeDetail" >
		SELECT
			<include refid="committeeDetailColumns"/>
		FROM committee_detail a
		<include refid="committeeDetailJoins"/>
		WHERE a.id = #{id}
	</select>

	<select id="findList" resultType="CommitteeDetail" >
		SELECT
			<include refid="committeeDetailColumns"/>
		FROM committee_detail a
		<include refid="committeeDetailJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="standing != null and standing.id != null and standing.id != ''">
				AND a.standing_id = #{standing.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>

	<select id="findAllList" resultType="CommitteeDetail" >
		SELECT
			<include refid="committeeDetailColumns"/>
		FROM committee_detail a
		<include refid="committeeDetailJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>

	<insert id="insert">
		INSERT INTO committee_detail(
			id,
			photo,
			sector,
			org,
			name,
			standing_id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag
		) VALUES (
			#{id},
			#{photo},
			#{sector},
			#{org},
			#{name},
			#{standing.id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag}
		)
	</insert>

	<update id="update">
		UPDATE committee_detail SET
			photo = #{photo},
			sector = #{sector},
			org = #{org},
			name = #{name},
			standing_id = #{standing.id},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>


	<!--物理删除-->
	<update id="delete">
		DELETE FROM committee_detail
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE standing_id = #{standing.id}
			</otherwise>
		</choose>
	</update>

	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE committee_detail SET
			del_flag = #{DEL_FLAG_DELETE}
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE standing_id = #{standing.id}
			</otherwise>
		</choose>
	</update>


	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="CommitteeDetail">
		select * FROM committee_detail  where ${propertyName} = #{value}
	</select>

</mapper>