<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.test.digitals.mapper.NewsMapper">

	<sql id="newsColumns">
		a.id AS "id",
		a.step AS "step",
		a.form AS "form",
		a.type AS "type",
		a.content AS "content",
		a.keyword AS "keyword",
		a.title AS "title",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		b.name AS "createBy.name"
	</sql>

	<sql id="newsJoins">
		LEFT JOIN sys_user b ON b.id = a.create_by
	</sql>


	<select id="get" resultType="News" >
		SELECT
			<include refid="newsColumns"/>
		FROM test_news a
		<include refid="newsJoins"/>
		WHERE a.id = #{id}
	</select>

	<select id="findList" resultType="News" >
		SELECT
			<include refid="newsColumns"/>
		FROM test_news a
		<include refid="newsJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="step != null and step !=''">
				AND step = #{step}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date DESC
			</otherwise>
		</choose>
	</select>

	<select id="findAllList" resultType="News" >
		SELECT
			<include refid="newsColumns"/>
		FROM test_news a
		<include refid="newsJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>

	<insert id="insert">
		INSERT INTO test_news(
			id,
			step,
			form,
			type,
			content,
			keyword,
			title,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag
		) VALUES (
			#{id},
			#{step},
			#{form},
			#{type},
			#{content},
			#{keyword},
			#{title},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag}
		)
	</insert>

	<update id="update">
		UPDATE test_news SET
			step = #{step},
			form = #{form},
			type = #{type},
			content = #{content},
			keyword = #{keyword},
			title = #{title},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>


	<!--物理删除-->
	<update id="delete">
		DELETE FROM test_news
		WHERE id = #{id}
	</update>

	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE test_news SET
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>


	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="News">
		select * FROM test_news  where ${propertyName} = #{value}
	</select>

</mapper>